In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the dataset to examine its structure and contents
file_path = './data/BC.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()

,Sex,Age,Adress,FBS,Urea,Creatinin,ALB,T_Ca,GPT,GOT,...,WBC,RBC,HGB,PLT,ESR,LDH,Na,K,CL,CLASS
0,1,60,Tragan,100,23,0.8,3.4,10.0,20,10,...,3.4,4.60,13.4,196,14,150,145.0,4.50,107.1,0
1,1,53,Sabha,190,27,0.6,4.2,9.3,11,17,...,4.4,5.00,12.5,155,15,260,139.2,4.17,106.4,0
2,1,50,Sabha,150,15,1.1,3.5,8.5,13,10,...,5.1,4.46,13.8,312,15,169,140.0,4.00,100.1,0
3,1,36,Obaree-center,80,20,1.0,4.2,8.0,7,13,...,3.1,4.33,10.7,212,10,138,136.4,4.06,107.1,0
4,1,30,Obaree-center,80,40,0.8,3.0,9.5,9,15,...,4.2,4.13,12.3,243,5,154,142.3,4.00,106.2,0

In [10]:
# Check for missing values and data types
missing_values = data.isnull().sum()
data_types = data.dtypes

# Summary statistics for numerical columns
summary_stats = data.describe()

# Unique values for each column
unique_values = data.nunique()

missing_values, data_types, summary_stats, unique_values

(Sex          0
 Age          0
 Adress       0
 FBS          0
 Urea         0
 Creatinin    0
 ALB          0
 T_Ca         0
 GPT          0
 GOT          0
 ALP          0
 CA15         0
 CEA          0
 WBC          0
 RBC          0
 HGB          0
 PLT          0
 ESR          0
 LDH          0
 Na           0
 K            0
 CL           0
 CLASS        0
 dtype: int64,
 Sex            int64
 Age            int64
 Adress        object
 FBS            int64
 Urea           int64
 Creatinin    float64
 ALB          float64
 T_Ca         float64
 GPT            int64
 GOT            int64
 ALP            int64
 CA15         float64
 CEA          float64
 WBC          float64
 RBC          float64
 HGB          float64
 PLT            int64
 ESR            int64
 LDH            int64
 Na           float64
 K            float64
 CL           float64
 CLASS          int64
 dtype: object,
                Sex          Age          FBS         Urea    Creatinin  \
 count  2435.000000  2435.000000  2435.000000  2435.000000  2435.000000
 mean      1.010267    49.390554   142.919097    39.241478     1.532181
 std       0.100825    11.324082    64.636748    24.394104     1.341022
 min       1.000000    23.000000    50.000000     9.000000     0.300000
 25%       1.000000    41.000000   102.000000    21.000000     0.700000
 50%       1.000000    48.000000   120.000000    29.000000     0.800000
 75%       1.000000    55.000000   179.000000    54.000000     2.300000
 max       2.000000    90.000000   497.000000   191.000000    11.500000

                ALB         T_Ca          GPT          GOT          ALP  ...  \
 count  2435.000000  2435.000000  2435.000000  2435.000000  2435.000000  ...
 mean      5.799072     9.893799    35.920739    36.176181   177.348665  ...
 std       3.209963     2.002123    28.849493    28.050880    54.742653  ...
 min       0.200000     1.300000     2.000000     2.000000    40.000000  ...
 25%       3.600000     8.600000    15.000000    15.000000   144.000000  ...
 50%       4.200000     9.500000    22.000000    23.000000   170.000000  ...
 75%       8.300000    10.900000    56.000000    56.000000   199.000000  ...
 max      16.400000    19.800000   179.000000   187.000000   658.000000  ...

                WBC          RBC          HGB          PLT          ESR  \
 count  2435.000000  2435.000000  2435.000000  2435.000000  2435.000000
 mean      8.982452     7.477142    10.003228   342.532238    22.096509
 std       3.832418     3.996033     2.764836   105.275618    19.006770
 min       1.400000     0.690000     3.500000   106.000000     2.000000
 25%       5.500000     4.280000     7.500000   254.000000    12.000000
 50%       8.400000     4.930000    10.700000   346.000000    15.000000
 75%      12.400000    11.000000    12.400000   423.000000    25.000000
 max      19.800000    33.870000    16.300000   631.000000   100.000000

                LDH           Na            K           CL        CLASS
 count  2435.000000  2435.000000  2435.000000  2435.000000  2435.000000
 mean    244.927721   151.714004     5.968805   106.991745     0.445175
 std      64.621168    21.171475     3.309269     6.845951     0.497087
 min     105.000000   101.500000     1.020000    54.000000     0.000000
 25%     201.000000   139.400000     4.060000   106.100000     0.000000
 50%     254.000000   142.300000     4.400000   107.500000     0.000000
 75%     286.000000   155.900000     8.430000   110.150000     1.000000
 max     521.000000   278.800000    19.650000   123.500000     1.000000

 [8 rows x 22 columns],
 Sex             2
 Age            66
 Adress         30
 FBS           267
 Urea          102
 Creatinin      72
 ALB           125
 T_Ca          125
 GPT           104
 GOT           104
 ALP           270
 CA15         1386
 CEA           649
 WBC           204
 RBC           498
 HGB           142
 PLT           409
 ESR            93
 LDH           260
 Na            484
 K             479
 CL            243
 CLASS           2
 dtype: int64)

In [13]:
'''# Set up the matplotlib figure
plt.figure(figsize=(12, 12))

# Correlation heatmap for numerical features
data_display = data.drop('Adress', axis=1)
corr_matrix = data_display.corr()
sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap="coolwarm", cbar=True)
plt.title("Correlation Heatmap of Numerical Features", fontsize=16)
plt.show()

# Distribution of the response variable 'CLASS'
sns.countplot(x="CLASS", data=data, palette="viridis")
plt.title("Distribution of CLASS", fontsize=16)
plt.xlabel("CLASS", fontsize=14)
plt.ylabel("Count", fontsize=14)
plt.show()

# Distribution of key numerical features
numerical_features = ['FBS', 'Urea', 'Creatinin', 'CA15', 'CEA', 'LDH']
data[numerical_features].hist(figsize=(12, 10), bins=30, color='teal', edgecolor='black')
plt.suptitle("Distributions of Key Numerical Features", fontsize=16)
plt.tight_layout(rect=[0, 0.03, 1, 0.95])
plt.show()'''

'# Set up the matplotlib figure\nplt.figure(figsize=(12, 12))\n\n# Correlation heatmap for numerical features\ndata_display = data.drop(\'Adress\', axis=1)\ncorr_matrix = data_display.corr()\nsns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap="coolwarm", cbar=True)\nplt.title("Correlation Heatmap of Numerical Features", fontsize=16)\nplt.show()\n\n# Distribution of the response variable \'CLASS\'\nsns.countplot(x="CLASS", data=data, palette="viridis")\nplt.title("Distribution of CLASS", fontsize=16)\nplt.xlabel("CLASS", fontsize=14)\nplt.ylabel("Count", fontsize=14)\nplt.show()\n\n# Distribution of key numerical features\nnumerical_features = [\'FBS\', \'Urea\', \'Creatinin\', \'CA15\', \'CEA\', \'LDH\']\ndata[numerical_features].hist(figsize=(12, 10), bins=30, color=\'teal\', edgecolor=\'black\')\nplt.suptitle("Distributions of Key Numerical Features", fontsize=16)\nplt.tight_layout(rect=[0, 0.03, 1, 0.95])\nplt.show()'